@model MvcCodeFirstEg.Models.Student

@{
    ViewBag.Title = "Deatils";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayName("Name:")</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayName("City:")</dt>
        <dd>@Html.DisplayFor(model => model.City)</dd>

        <dt>@Html.DisplayName("Branch:")</dt>
        <dd>@Html.DisplayFor(model => model.Branch)</dd>

        <dt>@Html.DisplayName("Percentage:")</dt>
        <dd>@Html.DisplayFor(model => model.Percentage)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
